
.Header {
  display: flex;
  flex-direction: column;
  align-items: center; justify-content: center;
  margin: 30px;
}

a {
  color: aliceblue ;
  text-decoration: none;
}

.img {
  width: 50%;
  height: 50%;
  border-radius: 10%;
  margin-bottom: 10px;
}